footer{
    background: linear-gradient(135.49deg, #F8F0F1 1.87%, rgba(248, 240, 241, 0.679253) 38.93%, rgba(248, 240, 241, 0.396254) 68.8%, rgba(248, 240, 241, 0) 97.36%);

}

.footer-bottom-section{
    background: #A41F23;
    position: relative;
    margin-top: 50px;
}

footer .footer-logo{
    position: absolute;
    top: -40px;
    left: 100px;
}

.footer-top-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;

}

.footer-bottom-section-links{
    display: flex;
    margin-left: 25%;
    padding: 3.125rem 8.75rem;
    color: white;
}

.footer-bottom-section-links a{
    color: #d9d9d9;
    text-decoration: none;
}

.footer-bottom-section-links a:focus,
.footer-bottom-section-links a.active,
.footer-bottom-section-links a:hover{
    color: white;
    font-weight: bold;
}

.footer-bottom-section-links h2{
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.9285714285714286rem + 0.8928571428571428vw, 2rem);
}

