header{
    background-color: #A41F23;
    opacity: 0.8;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 40px 250px;
}

.logo{
    position: absolute;
    bottom: 0;
    left: 50px;
    transform: translateY(+60%);

}

.navbar{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50% ,+250%);
    background: #A41F23;
    opacity: 0.8;
    font-size: xx-large;
    width: max-content;
    padding: 0!important;
}

.navbar .container{
    margin: 0;
    padding: 0;
}

.nav-item a{
    color: #D9D9D9 !important;
    padding: 16px 39px!important;
}

.navbar .nav-item a:active,
.navbar .nav-item a:focus {
    background: #A41F23;
    color: #ffffff; 
}

.navbar:has(.nav-item a:active) {
     background: #E7878A;
}

.dropdown-menu{   
    background: #A41F23;
    padding: 0;
   
}

.dropdown-menu li{
    border-bottom: 1px solid rgba(248, 240, 241, 0.7);
    text-align: center;
}

.dropdown-menu li a:hover{
    background-color: #e7878a!important;
    color: white!important;
}

.dropdown-menu li:last-child{
    border-bottom: none;
}